body
{
    padding:1px,;
    display: flex;
    flex-flow: column;
    align-items: center;
    background-color:black;
    color:white;
}
#pic1
{
    height: 60px;
}
#babrych
{
    max-width: 80%;
}
